allure-pytest>=2.9.43
allure-python-commons>=2.9.43
huggingface-hub>=0.25.1
openai==0.28.1
pytest>=8.3.3
pytest-sugar>=0.9.5
regex>=2024.9.11
sentence-transformers>=3.1.1
toml>=0.10.2
tqdm>=4.66.5
transformers>=4.45.2
word2number>=1.1
scikit-learn>=1.5.2